{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="card">
          <h5 class="card-header">Imgprocessing</h5>
          <div class="card-body">
            <div class="card-text">
                <p><a href="https://twitter.com/imgprocessing">Imgprocessing</a> adalah sebuah twitter bot yang dibuat dengan NodeJS. Cara kerja yaitu dengan mengirim pesan lewat tab DM
                lalu pesan akan dicetak pada sebuah gambar acak yang diambil dari Unsplash. Dengan begitu, semua orang bisa berpendapat dan
                    didengarkan.</p>
            </div>
          </div>
    </div>
</div>

{% endblock %}