{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="card">
          <h5 class="card-header">Me</h5>
          <div class="card-body">
            <p class="card-text">Hello! My name is Farhan. Solving real-world probelms is my passion!</p>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">Programming language</h5>
          <div class="card-body">
            <ul class="card-text">
              <li>Python</li>
              <li>Java</li>
              <li>JavaScript (NodeJS)</li>
              <li>PHP</li>
              <li>R</li>
            </ul>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">Database</h5>
          <div class="card-body">
            <ul class="card-text">
              <li>SQL (MySQL)</li>
              <li>NoSQL (Mongodb)</li>
              <li>Good understanding of Big Data with Hadoop</li>
            </ul>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">Framework</h5>
          <div class="card-body">
            <ul class="card-text">
              <li>Flask</li>
              <li>Django</li>
              <li>ExpressJS</li>
              <li>Bootsrtap</li>
              <li>Angular</li>
            </ul>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">Data Science Skills</h5>
          <div class="card-body">
            <ul class="card-text">
              <li>Pandas</li>
              <li>Numpy</li>
              <li>Scikit-learn (machine learning)</li>
              <li>Matplotlib</li>
              <li>Seaborn</li>
            </ul>
          </div>
        </div>
    </div>

{% endblock %}