{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="card">
          <h5 class="card-header">Diagnosis Paru (Android App)</h5>
          <div class="card-body">
            <div class="card-text">
                <p>Aplikasi sistem pakar diagnosis paru dengan metode certainty factor pada platform android ini saya buat untuk menyelesaikan skripsi. Cara kerjanya adalah, pengguna akan menjawab pertanyaan gejala sesuai dengan keluhan yang dirasakan,
                    kemudian aplikasi akan menghitung seberapa kemungkinan pengguna terkena penyakit paru. Silahkan <a href="https://www.dropbox.com/s/yuk4c81qt971w1w/Diagnosa%20Paru_1_1.0.apk?dl=0">download apk</a>
                    untuk mencoba aplikasi.</p>
                <br>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" style="height: 50%; width: 50%;" src="https://gm1.ggpht.com/AzXko2FQGyvv8_SKDziN89l1iXe45czOWF748b5TcUQlwvC5r19cyXLtMz_KMctaj-CbiijtIwIv653zejFgaYYbeeZytjY_au-Oj56AsJvNrqiq0c8Lw9OMEEefGZwUNIubvVMUMKu5I9X0DgmcI7HxEt4nfMDgBhJxzaN1mAqlBP9x72S5E1tC-sQt61j7vRwaFbJPdAZkY-zK-7j7PckQS1rYlFd40cp-m0941h5qG0fX5hKZDLU4M59sq5DS0KOGa0IaKUoHh6wyKwtwEWgW-GTmP1JMJIRdQ4mKcri_kow9Rz251DZLX6JkcxAXfLZEO7MFS7iYpJX4ljAq27SY0D8efJ_CqA2A5oAr6dJCXl8QYiKBQsPAypoXrVKz2T0MOlRDJ2wblc3C2FS_ublwlvrQu0W34TM589069wBmjybPrJxfQJq4itaPizYLk4w562i7pMTBqtBnptKsXcv1KARNud0zJypSJ5Jqc7q11CaJOMVXR56EU6w6Uh0AZis_ZBk70wr2z223hhAUOS7liBz00eLx0KTrluneZ9U80ztVe5C8LdyZ0aSrcGSti3uDwEpysF-eKCdfzV4vxlk_om8TGkvzfqsR4waWMG-SmejdZhBbeIfuTAvQ3FYkfCpjFVgorAG476Z-_Hl9nDbVk7S2GwyA6BRoHHL4kuYamyQalydMonahQFwQ=w532-h944-l75-ft" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" style="height: 50%; width: 50%;" src="https://mail.google.com/mail/u/1/?ui=2&ik=b2f04cc678&view=fimg&th=1631f970d5579c4f&attid=0.6&disp=emb&realattid=ii_jgopscu71_1631f840ca2609e4&attbid=ANGjdJ8e1l84e0meJvAlC8VbbCZvojGUKpI0I87npS6ARPTj7gIG-XWunCPMwY5EtmDDhOu57Cfs2taCk4ed6fVJaPe_gLPZl6uOz46ygnVofHxdRhgeo0PD6qkPrnQ&sz=w532-h944&ats=1528176472483&rm=1631f970d5579c4f&zw&atsh=1" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" style="height: 50%; width: 50%;" src="https://mail.google.com/mail/u/1/?ui=2&ik=b2f04cc678&view=fimg&th=1631f970d5579c4f&attid=0.2&disp=emb&realattid=ii_jgopszs52_1631f848117671af&attbid=ANGjdJ9RvDI_jvoy92JwngDg7DjDIJSX4ve-Qwfo-z332mzPi9YMJoNWZhZ5yF1YmPLmzBJ4qs2gZbnYROD0GIgOJg8wqTZso7TaKTvBsNG6KW1wwY0BE1-PCEHuIAM&sz=w532-h944&ats=1528176472483&rm=1631f970d5579c4f&zw&atsh=1" alt="Third slide">
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}